body {
    margin: 0px;
    overflow: hidden;
}

img {
    opacity: 0.4;
}

.title, .podtitle {
    width: 100%;
    padding-left: 4%;
    text-align: left;
    color: #f5f5f5;
    background-color: rgb(30, 30, 30);
    z-index: 10;
}

.title {
    top: 0px;
    font-size: 32px;
    font-weight: bold;
}

.podtitle {
    font-size: 16px;
    background-size: 120%;
    top: 37px;
}

#box {
    position: fixed;
    top: 5px;
    left: 20px;
    width: 50px;
    opacity: 1;
    z-index: 10;
}

.oval-button {
    padding: 8px 8px;
    border-radius: 20px;
    background-color: #da7b10;
    transition: background-color 0.5s ease;
}

.oval-button:hover {
    background-color: #ff5e00;
}

.to_main, .categories, .goods, .suppliers, .search, .task, .about{
    position: fixed;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-decoration: none;
    border: 2px solid #cacaca;
    top: 7px;
    z-index: 10;
}

.to_main {
    right: 660px;
}

.categories {
    right: 560px;
}

.goods {
    right: 470px;
}

.suppliers {
    right: 325px;
}

.search {
    right: 240px;
}

.task {
    right: 135px;
}

.about {
    right: 35px;
}

.index_centered, .task_centered, .about_centered {
    position: absolute;
    font-size: 20px;
    background-color: white;
    top: 490px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index_centered {
    top: 515px;
    transform: translate(-50%, -50%);
    max-width: 825px;
    padding: 20px 40px;
}

.about_centered {
    position: absolute;
    font-size: 20px;
    background-color: white;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    padding: 20px 40px;
}

.about_centered h4 {
    line-height: 1.5;
}

.text_category, .text_allcategory, .text_allgoods, .text_allsuppliers {
    position: fixed;
    font-family: 'Segoe UI';
    font-size: 9px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 2px solid #585858;
    background-color: #ff5e00;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
}

.text_allgoods {
    top: 75px;
    left: 40%;
}

.text_allsuppliers {
    top: 75px;
    left: 200px;
}

.add_category, .add_goods, .add_products {
    position: absolute;
    border: 2px solid #aaaaaa;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 325px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add_products {
    top: 475px;
}

.add_category {
    top: 400px;
}

.add_goods {
    top: 300px;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
}

.add_category label, .add_products label {
    font-family:'Segoe UI';
    font-weight: bold;
    padding-left: 10px;
}

.add_category input[type="text"], .add_category textarea,
.add_products input[type="text"], .add_products textarea {
    font-size: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 2px solid #aaaaaa;
    padding: 12px;
    height: 40px;
    width: 100%;
    resize: none;
}

.add_category textarea, .add_products textarea {
    height: 100px;
}

.add_category input[type="submit"], .add_products input[type="submit"] {
    display: block;
    font-family: 'Segoe UI';
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #585858;
    color: white;
    background-color: #da7b10;
    margin-top: 20px;
    margin-left: 300px;
    cursor: pointer;
}

.add_category input[type="submit"]:hover {
    background-color: #ff5e00;
}

.success-message-category, .success-message-products, .success-message-suppliers {
    position: absolute;
    font-family: 'Segoe UI';
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #585858;
    background-color: #27e00f;
    top: 78%;
    right: 165px;
}

.success-message-products {
    top: 710px;
    right: 925px;
}

.success-message-suppliers {
    top: 545px;
    right: 875px;
}

.error-message-category, .error-message-products, .error-message-suppliers {
    position: absolute;
    font-family: 'Segoe UI';
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #585858;
    background-color: #ff0000;
    top: 78%;
    right: 200px;
}

.error-message-suppliers {
    top: 500px;
}

.text_allcategory {
    left: 12%;
}

.category-list, .category-products {
    position: fixed;
    top: -75px;
    right: 950px;
    transform: translate(50%);
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    max-height: 750px;
    overflow-y: auto;
}

.category-products {
    top: -125px;
    right: 890px;
}

.category-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.delete-button, .edit-button, .delete-category, .sort-products, .sort-brand, .sort-money,
.sort-surname, .sort-name, .change-button, .delete-supplier{
    width: 30px;
    height: 30px;
    background-color: #fd2323;
    border: 2px solid #000000;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.sort-products, .sort-surname {
    background-color: #ff6600;
}

.edit-button, .change-button {
    background-color: #00ff15;
}

.sort-money {
    background-color: #ea00ff;
}

.sort-brand, .sort-name {
    background-color: #0059ff;
}

.delete-category:hover, .delete-supplier:hover {
    background-color: #c01d1d;
}

.sort-money:hover {
    background-color: #b615c5;
}

.edit-button:hover, .change-button:hover {
    background-color: #6fc21c;
}

.sort-products:hover, .sort-surname:hover {
    background-color: #ce551d;
}

.sort-brand:hover, .sort-name:hover{
    background-color: #1d50af;
}

.category-item form input[type="text"],
.category-item form textarea {
    margin-bottom: 5px;
}

.category-item form input[type="edit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.category-item form input[type="edit"]:hover {
    background-color: #3e8e41;
}

.all-products, .all-suppliers {
    position: fixed;
    top: 175px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    max-height: 700px;
    overflow-y: auto;
}

.all-products {
    top: 160px;
    max-height: 725px;
}

.choose-category {
    display: block; /* Додано, щоб кожне поле було на новому рядку */
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #aaaaaa;
}

.edit-input, .edit-brand, .edit-quantity, .edit-description, .edit-price {
    /* styles for the input field */
    display: block; /* Додано, щоб кожне поле було на новому рядку */
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

.add_category input[type="text"], .add_category input[type="number"],
.add_products input[type="text"], .add_products input[type="number"] {
    display: block; /* Додано, щоб кожне поле було на новому рядку */
    font-size: 20px;
    border-radius: 30px; /* Заокруглені кути */
    box-sizing: border-box;
    border: 2px solid #aaaaaa;
    padding: 12px;
    height: 40px;
    width: 100%;
}
